fastapi
uvicorn
google-generativeai
ollama
pymongo
pymysql
python-dotenv
pyspellchecker
symspellpy
requests
Pillow
torch
transformers
datasets
peft
accelerate
sentence-transformers
httpx
python-multipart